body{
    margin: 0;
    padding: 0;
    background-color: gray;
  }

  .gra{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }

  p{
    padding: 0 0.3em;
    font-size: 5em;
    color: darkgrey;
    text-align: center;
  }