body{
    margin: 0;
    padding: 0;
    background-color: darkslategray;
  }

  .gra{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  canvas{
    border: 5px solid #fff;
    cursor: none;
  }

  p{
    padding: 0 0.3em;
    font-size: 5em;
    color: #47ff00;
    text-align: center;
  }